---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage={AboutHeroImage}
>
<p>
  Welcome to my personal Astro Blog page.  
  My name is 
  <span class="name">
    <ruby>毕<rt>Bì</rt></ruby><ruby>真<rt>Zhēn</rt></ruby>
  </span>.
</p>


</Layout>
